*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'poppins',sans-serif ;
    font-size: .938rem;
    font-weight: 500;
    background-color:hsl(210,55%,85%);
    color: hsl(210,24%,15%);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.main{
    overflow: hidden;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsl(210,55%,85%);
    z-index: 100;
}
.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 32px;
}
.nav__logo{
    width: 32px;
}
.nav__logo img{
    border-radius: 50%;
    width: 100%;
}
.nav__toggle, .nav__close{
    display: inline-flex;
    font-size: 1.25rem;
    color: hsl(210,52%,20%);
    cursor: pointer;

}
@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsl(210,55%,85%);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210,55%,24%,.1);
        padding: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;

    }
    
}
.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link{
    color: hsl(210,52%,20%);
    transition: color .3s;
}
.nav__link:hover{
    color: hsl(195,100%,30%);
}
.nav__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}
.nav__button-link, .nav__button-ghost{
    display: inline-block;
    color: hsl(210,52%,20%);
}
.nav__button-ghost{
    background-color: hsla(0,0%,100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid hsl(210,52%,20%);
    border-radius: .75rem;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu{
    top: 0;
}

.home{
    position: relative;

}
.home__container{
    padding-top: 8rem;
    height: 100vh;
}
.home__content{
    position: relative;
    z-index: 2;
}
.home__data{
    display: grid;
    row-gap: .5rem;
}
.home__subtitile{
    font-size: .813rem;
    color: hsl(195,100%,30%);
    letter-spacing: 3px;
}
.home__title{
    font-size: 2.25rem;
    font-family: "lora", sans-serif;
    color: hsl(210,52%,20%);
}
.home__description{
    margin-bottom: 2.5rem;
}
.home__button{
    display: inline-block;
    background: linear-gradient(90deg, hsl(210,55%,20%),hsl(192,62%,25%));
    color: #fff;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: .75rem;
    box-shadow: 0 24px 32px hsla(210,54%,24%,.3);
}

.home__bird-1, .home__bird-2{
    position: absolute;
    width: 60px;
}

.home__bird-1{
    bottom: -6rem;
    rotate: -30deg;
}
.home__bird-2{
    top: 4.5rem;
    right: 0;
    rotate: -15deg;
}
.home__images{
    z-index: 1;
}
.home__images img{
    position: absolute;
    max-width: initial;
    width: 600px;
    left: -7rem;
    bottom: 0;
}

@media screen and (max-width: 305px) {
    .container{
        margin-inline: 1rem;
    }
    .home__title{
        font-size: 2rem;
    }
    
}
@media screen and (min-width: 376px) and (min-height:800px) {
    .home__container{
        padding-top: 10rem;
    }
    .home__images{
        width: 700px;
        left: -12rem;
    }
    
}

@media screen and (min-width: 480px) {
    .home__content{
        max-width: 305px;
    }
    .home__bird-2{
        right: -3rem;
    }
    .home__images img{
        width: initial;
        left: 0;
    }
    
}

@media screen and (min-width: 1023px){
    .nav{
        height: calc(3.5rem +2rem);
        column-gap: 4rem;
    }
    .nav__toggle, .nav__close{
        display: none;
    }
    .nav__menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 5rem;
    }
    .nav__buttons{
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__logo{
        width: 72px;
    }
    .home__content{
        max-width: 550px;
    }
    .home__data{
        row-gap: 1rem;
    }
    .home__subtitile{
        font-size: .938rem;
    }
    .home__description{
        margin-bottom: 3rem;
    }
}

@media screen and (min-width:1120px) {
    .container{
        margin-inline: auto;
    }
}
@media screen and (min-width: 1300px){
    .home__container{
        height: 950px;
        padding-top: 10rem;
    }
    .home__bird-1,.home__bird-2{
        width: 80px;
    }
    .home__bird-1{
        bottom: -7rem;
        left: -7rem;
    }    
    .home__bird-2{
        top: 0;
        right: -6rem;
    }
    .home__images img{
        bottom: -3rem;
    }

    ::-webkit-scrollbar{
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(220,24%,15%);
    }
    ::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: hsl(220,24%,25%);
    }

}
@media screen and (min-width:2048px) {
    .container{
        max-width: 1300px;
    }
    .home__container{
        height: 1200px;
        padding-top: 15rem;
    }
    
}
